
<%= turbo_frame_tag "author__#{ author.id }" do  %>
  <div class='row' data-id='<%= author.id %>' data-edit='false'>
    <%= render partial: 'authors/show', locals: { author: author } %>
  </div>
<% end %>




