<%= turbo_frame_tag "authors-list"   do %>
  <div class="scaffold-container scaffold-list">
    <h4>AUTHORS</h4>

    <%= render partial: "authors/new_button", locals: {}%>

    <div class="row scaffold-row">
      <div class='scaffold-cell'  style='flex-basis: 95%'>Name</div>
      

      <div class='col scaffold-col-heading scaffold-col-heading-buttons' style="flex-basis: 150px"></div>
    </div>

      <% if authors.empty? %>
    <div>
        None
    </div>
      <% end %>
      <% authors.each do |author| %>
        <%= render partial: 'authors/line', locals: {author: author } %>
      <% end %>

    <% if authors.respond_to?(:total_pages) %><%= paginate(authors) %> <% end %>
    </div>
  </div>
<% end %>
