<div class='col'>
  <%= author.name %>
</div>



<div class="col">
  
    <%= form_with url: author_path(author), method: :delete do |f| %>
      <%= f.submit "Delete".html_safe, data: {confirm: 'Are you sure?'}, class: "delete-author-button btn btn-primary " %>
    <% end %>
  


  

  
  <%= link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_author_path(author), disable_with: "Loading...", class: "edit-author-button btn btn-primary " %>
  
</div>
