<div class="scaffold-container">
  
    <div class=' scaffold-index-authors'>
  

  <div class="clearfix"></div>
  <%= render partial: 'authors/list',
  locals: {authors: @authors } %>

  </div>
</div>
