<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <%= render partial: 'authors/list',
              locals: {authors: @authors } %>
    </div>
  </div>
</div>
