<%= turbo_frame_tag "books-list"   do %>
  <div class="scaffold-container scaffold-list">
    <h4>BOOKS</h4>

    <%= render partial: "books/new_button", locals: {}%>

    <div class="row scaffold-row">
      <div class='scaffold-cell'  style='flex-basis: 8%'>Name</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>Author</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>Blurb</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>Long description</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>Cost</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>How many printed</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>Approved at</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>Release on</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>Time of day</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>Selected</div>
<div class='scaffold-cell'  style='flex-basis: 8%'>Genre</div>
      

      <div class='col scaffold-col-heading scaffold-col-heading-buttons' style="flex-basis: 150px"></div>
    </div>

      <% if books.empty? %>
    <div>
        None
    </div>
      <% end %>
      <% books.each do |book| %>
        <%= render partial: 'books/line', locals: {book: book } %>
      <% end %>

    <% if books.respond_to?(:total_pages) %><%= paginate(books) %> <% end %>
    </div>
  </div>
<% end %>
